<div class="container">
  <div class="display">
    <button mat-flat-button color="primary" class="btn-answer">{{newCurrentNumber}}{{currentNumber}}</button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickPercent()"> % </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickSquared()"> <i> x2 </i> </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickClear()"> C </button>
    <br/>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickNum(7)"> 7 </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickNum(8)"> 8 </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickNum(9)"> 9 </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickOperator('&#247;')"> / </button>
    <br/>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickNum(4)"> 4 </button> 
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickNum(5)"> 5 </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickNum(6)"> 6 </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickOperator('x')"> * </button>
    <br/>
    <button mat-flat-button color="primary" class="btn-num"(click)="onClickNum(1)"> 1 </button>
    <button mat-flat-button color="primary" class="btn-num"(click)="onClickNum(2)"> 2 </button>
    <button mat-flat-button color="primary" class="btn-num"(click)="onClickNum(3)"> 3 </button>
    <button mat-flat-button color="primary" class="btn-num"(click)="onClickOperator('-')"> - </button>
    <br/>
    <button mat-flat-button color="primary" class="btn-zero" (click)="onClickZero()"> 0 </button>
    <button mat-flat-button color="primary" class="btn-num"(click)="onClickRes()"> = </button>
    <br/>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickNegativeAndPositive()"> +/- </button>
    <button mat-flat-button color="primary" class="btn-num" (click)="onClickOperator('.')"> . </button>
    <button mat-flat-button color="primary" class="btn-num sum" (click)="onClickOperator('+')"> + </button>
  </div>
</div>
<p class="error" *ngIf="showErrorMessage">Seleccione un numero antes de un operador. Ej. 2 + 2</p>
<p> Click en los iconos para realizar una operación.</p> 